 
.u-section-1 .u-sheet-1 {
  min-height: 1027px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 621px;
  margin: 125px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 765px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 24px 195px 0 218px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 900;
  margin: 24px auto 0 261px;
}

.u-section-1 .u-form-1 {
  height: 600px;
  width: 433px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  padding: 1px 78px 2px 77px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 968px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 102px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 120px;
    padding-left: 119px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 155px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 227px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 395px;
    margin-left: -27px;
    margin-right: -27px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 36px;
    margin-left: 97px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 143px;
  }

  .u-section-1 .u-form-1 {
    height: 532px;
    width: 322px;
    margin-top: 21px;
  }
}
